@font-face {
    font-family: "HeliosCRegular"; 
    src: url("../../../public/fonts/heliosc.woff2"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "HeliosCBold"; 
    src: url("../../../public/fonts/heliosc_bold.woff2"); 
    font-style: bold; 
    font-weight: 700; 
} 