.promo {
    position: relative;
    margin-top: 5.9rem;
    height: 70rem;

    @media (max-width: 479px) {
        margin-top: 3rem;
    }

    &-bg {
        position: absolute;
        bottom: -15%;
        right: -10.1rem;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: url(../../../public/img/bg-footer.png);
        background-repeat: no-repeat;
        background-position: right bottom; 
    }
    
    & h2 {
        margin-bottom: 7.7rem;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 22px;
        color: #894083;

        @media (max-width: 600px) {
            margin-bottom: 4rem;
        }
    }
    &-slider {
        max-width: 130rem;
        margin: 0 auto;

        &-card {
            padding-bottom: 1rem;
            width: 100%;
            height: 46rem;
            background: #FFFFFF;
            border-radius: 2.2rem 0rem;
            box-shadow: 0rem 0.3rem 2.4rem rgba(0, 0, 0, 0.08);
            cursor: pointer;

            &:hover {
                margin-bottom: 1rem;
                height: 56.6rem;
                & .promo-slider-card-footer {
                    opacity: 1;
                    z-index: 1;
                }
            }

            &-header {
                position: relative;
                height: 22rem;
                padding: 4.6rem 3.5rem 0 5.3rem;
                overflow: hidden;

                @media (max-width: 492px) {
                    height: 18rem;
                    padding: 1.6rem 2.5rem 0 3.3rem;
                }

                & .card-label {
                    position: absolute;
                    left: 1rem;
                    right: 0;
                    top: 1rem;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;

                    font-family: 'HeliosCRegular';
                    font-weight: 700;
                    font-size: 1.2rem;
                    line-height: 1.8rem;
                    color: #FFFFFF;

                    & .sale {
                        width: 9.1rem;
                        height: 2rem;
                        padding: 0.3rem 1rem 0.1rem;

                        background: #FDCA33;
                        border-radius: 1.6rem 0rem;
                    }
                    & .new {
                        margin-top: 0.2rem;
                        width: 7.3rem;
                        height: 2rem;
                        padding: 0.3rem 1rem 0.1rem;

                        background: #8DC63F;
                        border-radius: 1.6rem 0rem;
                    }
                    & .recomend {
                        margin-top: 0.2rem;
                        width: 10.6rem;
                        height: 2rem;
                        padding: 0.3rem 1rem 0.1rem;

                        background: #00C2CE;
                        border-radius: 1.6rem 0rem;
                    }
                }
                & .isliked {
                    position: absolute;
                    top: 1.7rem;
                    right: 1.7rem;

                    & .hurt {
                        width: 2.1rem;
                        height: 1.9rem;
                        &:hover {
                            & .hurt {
                                display: none;
                            }
                        }
                    }
                    & .hurt_active {
                        display: none;
                        &:hover {
                            & .hurt_active {
                                display: inline;
                            }
                        }
                    }

                    &:hover {
                        & .hurt {
                            display: none;
                        }
                        & .hurt_active {
                            display: inline;
                        }
                    }
                    &.active {
                        & .hurt {
                            display: none;
                        }
                        & .hurt_active {
                            display: inline;
                        }
                    }   

                }
                & .card-img {
                    margin: 0 auto;

                    width: 100%;
                    height: 100%;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            &-content {
                margin-top: 4.7rem;
                padding: 0 2rem;
                font-family: 'HeliosCRegular';
                font-weight: 400;
                line-height: 2.2rem;
                letter-spacing: 0.02em;

                @media (max-width: 492px) {
                    margin-top: 1.7rem;
                }

                & .card-code {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.4rem;
                    
                    &-instock {
                        color: #894083;

                        &.not {
                            color: #C74A2C;
                        }
                    }
                    &-cod {
                        color: #828282;
                    }
                }

                & .card-description {
                    margin-top: 1.2rem;
                    width: 100%;
                    height: 8.8rem;
                    font-size: 1.5rem;
                    text-align: justify;
                    color: #4F681E;
                }

            }

            &-price {
                display: flex;
                justify-content: space-between;
                margin-top: 1.7rem;
                padding: 0 2rem;

                @media (max-width: 492px) {
                    margin-top: 1rem;
                }

                & .card-price {
                    display: flex;
                    align-items: flex-end;

                    &-new {
                        margin-right: 0.6rem;
                        font-family: 'HeliosC';
                        font-weight: 700;
                        font-size: 2.4rem;
                        line-height: 3.6rem;
                        
                        color: #181717;
                    }
                    &-old {
                        font-family: 'HeliosLightC';
                        font-weight: 300;
                        font-size: 1.8rem;
                        line-height: 2.6rem;
                        
                        letter-spacing: 0.01em;
                        text-decoration-line: line-through;
                        
                        color: #828282;
                    }
                }

                & .card-backed {

                    margin-right: 4rem;
                    &-cont {
                        position: relative;
                        width: 100%;
                        height: 3.1rem;

                        & .backed-img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            margin-right: 0;

                            @media (max-width: 784px) {
                                width: 3rem;
                                height: 3rem;
                            }
                        }

                        & .backed-count {
                            position: absolute;
                            top: 0;
                            left: 1.2rem;

                            font-family: "Acrom";
                            font-weight: 400;
                            font-size: 1.2rem;
                            color: #FFFFFF;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            padding: 0.5rem;
                            width: 2.1rem;
                            height: 1.5rem;   
                                    
                            background: #894083; 

                            @media (max-width: 784px) {
                                top: -0.2rem;
                                font-size: 1rem;
                            }
                        } 
                    }
                    
                }
            }

            &-footer {
                margin-top: 0.8rem;
                margin-bottom: 1rem;
                opacity: 0;
                padding: 0 2rem;

                & .card-count {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    height: 4rem;
                    background: #FAFAFA;
                    border-radius: 5rem;

                    @media (max-width: 480px) {
                        height: 3rem;
                    }

                    &-minus,
                    &-plus {
                        background: transparent;
                        border: none;

                        & i {
                            color: #894083;
                        }

                        &:hover {
                            & i {
                                color: #C74A2C;
                            }
                        }
                    }

                    & .count {
                        font-family: 'HeliosCRegular';
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 2.6rem;
                        text-align: center;
                        letter-spacing: 0.01em;

                        @media (max-width: 400px) {
                            font-size: 1.5rem;
                        }
                    }
                }

                & .card-buttons {
                    margin-top: 1.2rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-buy,
                    &-add {
                        margin-bottom: 0.7rem;
                        height: 4rem;
                        padding: 1rem 1.2rem 0.6rem;

                        font-family: "HeliosCBold";
                        font-weight: 700;
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                        text-align: center;
                        color: #894083;
                        background-color: #fff;

                        border: 1px solid #894083;
                        box-sizing: border-box;
                        border-radius: 50px;

                        &:hover {
                            background-color: #894083;
                            color: #fff;
                        }

                        @media (max-width: 1292px) {
                            font-size: 1.3rem;
                        }

                        @media (max-width: 803px) {
                            font-size: 1.2rem;
                        }

                        @media (max-width: 685px) {
                            font-size: 1.5rem;
                        }

                        @media (max-width: 518px) {
                            font-size: 1.2rem;
                        }

                        @media (max-width: 479px) {
                            font-size: 1.5rem;
                        }

                    }
                }
            }
        }
    }
}
.slick-slide {
    margin: 0 15px;
}
  
.slick-list {
    margin: 0 -15px;
    padding-top: 2rem;

    @media (max-width: 479px){
        height: 50rem;
    }
}
